<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.iterlog.myapplication">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.iterlog.myapplication.ItemListActivity" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".activity.SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".activity.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="cn.iterlog.myapplication.c" />
                <action android:name="cn.iterlog.myapplication.d" />

                <category android:name="cn.iterlog.category.c" />
                <category android:name="cn.iterlog.category.d" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.transaction.TranActivity0"
            android:label="@string/title_activity_tran0"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.transaction.TranActivity1"
            android:label="@string/title_activity_tran1"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".view.ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.View0Activity" />
        <activity android:name=".view.View1Activity" />
        <activity android:name=".view.rippleview.RippleActivity" />
        <activity android:name=".view.ripplechoice.RippleChoiceActivity" />
        <activity android:name=".view.circlehookview.CircleHookActivity"></activity>

        <activity android:name=".widget.SearchActivity" />
        <activity
            android:name=".component.notification.NotificationActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".bottomnavigationViewpager.MainActivity" />
        <activity android:name=".widget.WidgetActivity" />

        <activity android:name=".component.common.CommonActivity" />
        <activity
            android:name=".component.common.AsynTaskActivity"
            android:label="@string/title_activity_asyn_task"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".component.service.ServiceActivity" />
        <activity android:name=".component.service.BasicServiceActivity" />
        <activity android:name=".component.service.IntentServiceActivity" />
        <activity android:name=".component.service.RemoteServiceActivity" />
        <activity android:name=".component.service.ForgroundServiceActivity" />
        <activity android:name=".component.service.MessenagerServiceActivity" />

        <service android:name=".component.service.ForegroundService" />

        <receiver android:name=".component.service.ForegroundService$NotificationCloseButtonHandler" />
        <receiver android:name=".component.service.ForegroundService$NotificationPlayButtonHandler" />
        <receiver android:name=".component.service.ForegroundService$NotificationPrevButtonHandler" />
        <receiver android:name=".component.service.ForegroundService$NotificationSkipButtonHandler" />

        <service
            android:name=".component.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".component.service.BasicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".component.service.MyRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="cn.iterlog.myapplication.component.service.action.remote_bb" />
            </intent-filter>
        </service>
        <service
            android:name=".component.service.MessengerService"
            android:process=":remote" />

        <activity android:name=".widget.listview.ListActivity" />
        <activity android:name=".widget.listview.ListViewHolderScrollHideActivity" />
        <activity android:name=".widget.listview.OverScrollActivity" />
        <activity android:name=".widget.listview.multitype.MultiActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.MainActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.ListViewActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.GridViewActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.ScrollViewActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.HorizontalScrollViewActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.WebViewActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.PagerViewActivity" />
        <activity android:name=".widget.overscroll.overscrolllayout.CustomViewActivity" />
        <activity
            android:name=".widget.overscroll.overscrolllayout.RecyclerViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.dragview.DragViewActivity"></activity>
        <activity android:name=".view.dragview.LayoutDragActivity"></activity>
        <activity android:name=".view.dragview.ViewDragHelperActivity"></activity>

    </application>

</manifest>